// page-more {
//     .card{
//         margin: 0;
//         width: 100%;
//     }
//     .margin-top{
//         margin-top: 100px;
//     }
//     .margin-bottom {
//         margin-bottom: 0;
//     }
//     ion-list-header .label {
//         margin-bottom: 0;
//     }
//     .list {
//         margin-bottom: 0;
//     }
// }
page-mine {
    .toolbar-title-md{
      text-align: center;
    }
  
    .scroll-content{
      overflow: hidden;
    }
  
    .bg-color{
      background-color: #efeeee;
    }
  
    .top-list{
      margin-top: 15px;
    }
  
  }