<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/join-classes"></ion-back-button>
    </ion-buttons>
    <ion-title>课程名称</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- 信息操作栏 -->
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>当前获得 <span>48</span> 经验</ion-card-title>
      <ion-card-subtitle>第 <span>12</span> 名</ion-card-subtitle>
    </ion-card-header>
    
    <!-- 点击部分 -->
    <ion-item>
      <ion-toolbar>
        <ion-row class="ion-align-items-center"> 
          <ion-col size='7'>
            <ion-button  mode='md' shape='round'  color="primary" fill="solid" [routerLink]="['/join-classes/sign-in']"  >
              <ion-icon  name="star" size='small'></ion-icon>
               <ion-label>&nbsp;点击签到&nbsp;</ion-label>
            </ion-button>
          </ion-col>

          <ion-col size='5'>
            <ion-button  mode='md' shape='round'  color="tertiary" fill="outline" [routerLink]="['/join-classes/class-detail']" routerLinkActive="router-link-active"  >
              <ion-icon  name="heart"></ion-icon>
              <ion-label>&nbsp;班课详情&nbsp;</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-item>

  </ion-card>


  <!-- 成员列表 -->
  <ion-list lines='full'>

    <!-- 列表头 -->
    <ion-list-header lines='full' class="ion-padding-horizontal">
      <ion-label>成员总数</ion-label>
      <ion-label class="ion-text-right"> 148人</ion-label>
    </ion-list-header>

    <!-- 成员信息部分 -->

    <ion-item button  class="member-item" *ngFor="let member of members">
      <!-- 头像部分 -->
      <ion-thumbnail slot="start" class="mythumbnail">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
      <!-- 内容部分 -->
      <ion-label >
        <h3>{{member.userName}}</h3>
        <p>{{member.userId}} <span class="exp ion-float-right">{{member.exp}}经验值</span> </p>
      </ion-label>
    </ion-item>


  </ion-list>



  
</ion-content>
