<ion-header>
  <ion-toolbar>
    <ion-title>班课详情</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/join-classes/members" queryParams='{courseId:courseId}'></ion-back-button>
      <!-- <ion-back-button (click)="onBack()"></ion-back-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card [hidden]='!hasThisClass'>

    <!-- 班课头信息 -->
    <ion-card-header >
      <ion-item lines='full'>
        <ion-thumbnail slot="start">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-thumbnail>
        <ion-label>
          <h3>{{courseMajor}}</h3>
          <h4>{{courseName}}&nbsp;&nbsp;课程码：{{courseId}}</h4>
          <p>{{courseTeacherName}}</p>
          <p>
            <span>2019-2020-2</span>  <span>学校课表班课</span>
          </p>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <!-- 其他信息 -->
    <ion-card-content >
      <ion-list>
        <ion-item lines='full'> 
          <ion-label>
            <h3>学校院系</h3>
            <p>{{courseSchool}}&nbsp;{{courseDepartment}} </p>
          </ion-label>
        </ion-item>
        <ion-item lines='full'> 
          <ion-label>
            <h3>学习要求</h3>
            <p>暂无</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- 退出班课按钮 -->
      <ion-button slot="start" expand="block" fill='outline' shape='round' class="ion-margin-top" (click)="exitClass()" >
        退出班课
      </ion-button>
        
    </ion-card-content>

  </ion-card>
  
</ion-content>
