<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item>
        <ion-input name="{{property}}" type="text" [(ngModel)]="value" required placeholder="{{title}}"></ion-input>
      </ion-item>
    </ion-list>
    <div padding-horizontal>
      <ion-button expand="block" color="primary" (click)="onSave()">保存</ion-button>
    </div>
  </form>
</ion-content>
