<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxskyun.mapper.CourseMapper">
    <resultMap type="com.hxskyun.domain.Course" id="courseResultMap">
        <result property="courseId" column="ClassId"/>
        <result property="courseName" column="ClassName"/>
        <result property="classType" column="ClassType"/>
        <result property="classDes" column="ClassDes"/>
        <result property="studyRequire" column="studyRequire"/>
        <result property="courseSemester" column="courseSemester"/>
        <result property="teachId" column="TeacherId"/>
        <result property="school" column="School"/>
        <result property="department" column="Department"/>
        <result property="major" column="Major"/>
        <result property="endClassStatus" column="EndClassStatus"/>
    </resultMap>

    <resultMap type="com.hxskyun.domain.CourseStudent" id="courseStudentResultMap">
        <result property="courseId" column="ClassId"/>
        <result property="studentId" column="studentId"/>
        <result property="studentExp" column="studentExp"/>
    </resultMap>

    <resultMap type="com.hxskyun.domain.CourseSign" id="courseSignResultMap">
        <result property="signId" column="SignId"/>
        <result property="studentId" column="studentId"/>
        <result property="courseId" column="CourseId"/>
        <result property="signTime" column="signTime"/>
        <result property="endTime" column="endTime"/>
        <result property="signStatus" column="signStatus"/>
        <result property="signedNumbers" column="signedNumbers"/>
        <result property="unSignedNumbers" column="unSignedNumbers"/>
        <result property="signDistance" column="signDistance"/>
        <result property="sourceLatitude" column="sourceLatitude"/>
        <result property="sourceLongitude" column="sourceLongitude"/>
        <result property="targetLatitude" column="targetLatitude"/>
        <result property="targetLongitude" column="targetLongitude"/>
        <result property="duration" column="duration"/>
    </resultMap>

    <insert id="insertCourseStudent" useGeneratedKeys="true">
        insert into CourseStudent(Id,ClassId,studentId)
        values (DEFAULT,#{courseId},#{studentId});
    </insert>

    <insert id="sendCourseSign" useGeneratedKeys="true">
        insert into CourseSign(Id,SignId,CourseId,studentId,endTime,signStatus,duration,sourceLatitude,sourceLongitude)
        values (DEFAULT,#{signId},#{courseId},#{studentId},#{endTime},#{signStatus},#{duration},#{sourceLatitude},#{sourceLongitude});
    </insert>
    <insert id="creatCourse" useGeneratedKeys="true">
        insert into classschedule(Id,ClassId,ClassName,ClassDes,courseSemester,TeacherId,School,Department,Major,EndClassStatus)
        values (DEFAULT,#{courseId},#{courseName},#{classDes},#{courseSemester},#{teachId},#{school},#{department},#{major},#{endClassStatus})
    </insert>

    <update id="joinCourseSign">
        update CourseSign
        SET signTime = #{signTime},
            signStatus = #{signStatus},
            signDistance=#{signDistance},
            targetLatitude=#{targetLatitude},
            targetLongitude=#{targetLongitude}
        where CourseId = #{courseId} and studentId = #{studentId} and SignId=#{signId}
    </update>
    <update id="updateCourseStudent">
        update CourseStudent
        set studentExp= #{studentExp}
        where ClassId = #{courseId} and studentId = #{studentId}
    </update>
    <update id="updateCourse">
        update classschedule
        set ClassName= #{courseName},
        ClassDes= #{classDes},
        courseSemester= #{courseSemester},
        School= #{school},
        Major= #{major},
        EndClassStatus= #{endClassStatus},
        Department= #{department}
        where ClassId = #{courseId} and TeacherId=#{teachId}
    </update>

    <update id="endCourseSignBySignId">
    update CourseSign
    Set endTime=#{endTime}
    where SignId=#{signId}
    </update>

    <delete id="exitCourseStudent">
        delete from CourseStudent where ClassId=#{courseId} and studentId=#{studentId};
    </delete>

    <delete id="deleteCourse">
        delete from classschedule where ClassId=#{courseId} and TeacherId=#{teachId};
    </delete>
    <delete id="deleteCourseSign">
        delete from CourseSign where SignId=#{uuid};
    </delete>

    <select id="getCourseByUserIdCourseId" resultMap="courseStudentResultMap">
    select * from CourseStudent where ClassId=#{courseId} and studentId=#{studentId};
    </select>


    <select id="getCourseByUserId" resultMap="courseResultMap">
        select *  from
        (select * from CourseStudent where StudentId=#{uuid})as c
        left join
        classschedule as a on c.ClassId=a.ClassId
    </select>

    <select id="getCourseByTeachId" resultMap="courseResultMap">
     select *  from classschedule  where TeacherId=#{uuid}
    </select>

    <select id="getTeacherNameByTeacherId" resultType="String">
        select UserName from user where UserId=#{uuid}
    </select>

    <select id="getCourseByCourseId" resultMap="courseResultMap">
        select * from classschedule where ClassId=#{uuid}
    </select>
    <select id="getMembersByCourseId" resultMap="courseStudentResultMap">
    select * from CourseStudent where ClassId=#{uuid}
    </select>
    <select id="getStudentNameByUserId" resultType="java.lang.String">
        select UserName from user where UserId=#{uuid}
    </select>
    <select id="getMembersCountByCourseId" resultType="java.lang.Integer">
        select Count(*) from CourseStudent where ClassId=#{uuid}
    </select>

    <select id="courseSignByUserIdCourseId" resultMap="courseSignResultMap">
        select * from CourseSign where CourseId=#{courseId} and studentId=#{studentId}
    </select>

    <select id="getCourseExpByCourseIdUserId" resultType="java.lang.Integer">
        select studentExp from CourseStudent where ClassId=#{courseId} and studentId=#{studentId}
    </select>
    <select id="getRankByCourseIdUserId" resultType="java.lang.Integer">
SELECT ranking from
(SELECT t.*, @rownum := @rownum + 1 AS ranking FROM
	(SELECT @rownum := 0) as r, (SELECT * FROM CourseStudent where CourseStudent.ClassId=#{courseId} ORDER BY studentExp DESC ) AS t)as s
where s.ClassId=#{courseId} and s.studentId=#{studentId}
    </select>
    <select id="getEndTimeBySignIdUserId" resultMap="courseSignResultMap">
        select * from CourseSign where CourseId=#{courseId} and studentId=#{studentId}
    </select>
    <select id="getAllCourseStudent" resultMap="courseStudentResultMap">
        select * from CourseStudent;
    </select>
    <select id="getCourseSignFinshed" resultType="com.hxskyun.domain.CourseSign">
        select * from CourseSign where studentId=#{studentId} and CourseId=#{courseId} and signStatus="已签到";
    </select>
    <select id="getCourseSignUnFinshed" resultType="com.hxskyun.domain.CourseSign">
       select * from CourseSign where studentId=#{studentId} and CourseId=#{courseId} and signStatus="缺勤";
    </select>

    <select id="getCourseById" resultMap="courseResultMap">
        select * from classschedule where ClassId=#{uuid}
    </select>
    <select id="getCourseSignByCourseId" resultMap="courseSignResultMap">
        select  SignId,endTime,sum(signStatus='已签到')as'signedNumbers',sum(signStatus='缺勤')as 'unSignedNumbers' from CourseSign where CourseId=#{uuid} GROUP BY SignId,endTime
    </select>

    <select id="getCourseSignBySignId" resultMap="courseSignResultMap">
        select  SignId,endTime,sum(signStatus='已签到')as'signedNumbers',sum(signStatus='缺勤')as 'unSignedNumbers' from CourseSign where SignId=#{signId} GROUP BY SignId,endTime
    </select>
    <select id="getCourseSignByCourseSign" resultMap="courseSignResultMap">
        select * from CourseSign where  studentId=#{studentId} and CourseId=#{courseId} and SignId=#{signId}
    </select>
    <select id="selectOnceCourseSignResult" resultMap="courseSignResultMap">
        select * from CourseSign where SignId=#{signId}
    </select>
    <select id="getStudentNameById" resultType="java.lang.String">
     select UserName from user where UserId=#{uuid}
    </select>



</mapper>