<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxskyun.mapper.DictMapper">
     <resultMap id="DictMap" type="com.hxskyun.domain.Dict">
        <id column="Id" property="dictId"/>
        <result column="ItemKey" property="itemKey"/>
        <result column="ItemValue" property="itemValue"/>
        <result column="IsDefault" property="isDefault"/>
        <result column="TypeName" property="type"/>
        <result column="SortNum" property="sortNum"/>
        <result column="CreationDate" property="creationDate"/>
        <result column="Creator" property="creator"/>
        <result column="ModificationDate" property="modificationDate"/>
        <result column="Modifier" property="modifier"/>
    </resultMap>



    <insert id="insertDictDetail" parameterType="com.hxskyun.domain.Dict" useGeneratedKeys="true" keyProperty="dictId">
    insert into dictionarydetail(Id,ItemKey,ItemValue,IsDefault,SortNum,CreationDate,Creator)
    values (DEFAULT,#{itemKey},#{itemValue},#{isDefault},#{sortNum},#{creationDate},#{creator});
    </insert>

    <insert id="insertDictType" parameterType="com.hxskyun.domain.Dict" useGeneratedKeys="true" keyProperty="dictId">
    insert into dictionarytype(Id,TypeName,ItemKey,CreationDate,Creator)
     values (DEFAULT,#{type},#{itemKey},#{creationDate},#{creator});
    </insert>


    <delete id="deleteTypeByPrimaryKey">
        delete from dictionarydetail where ItemKey=(select ItemKey from dictionarytype where Id=#{dictId});
        delete from dictionarytype where Id=#{dictId};
    </delete>

    <delete id="deleteDetailByPrimaryKey">
        delete from dictionarydetail where Id=#{dictId};
    </delete>

    <update id="updateTypeByPrimaryKey">
        delete from dictionarydetail where ItemKey=(select ItemKey from dictionarytype where Id=#{dictId});
        update dictionarytype
        <set>
            <if test="type!=null">TypeName=#{type},
            </if>
            <if test="itemKey!=null">ItemKey=#{itemKey},
            </if>
            <if test="modificationDate!=null">ModificationDate=#{modificationDate},
            </if>
            <if test="modifier!=null">Modifier=#{modifier},
            </if>
        </set>
        where Id=#{dictId};
    </update>

    <update id="updateDetailByPrimaryKey">
        update dictionarydetail
        <set>
            <if test="itemKey!=null">ItemKey=#{itemKey},
            </if>
            <if test="itemValue!=null">ItemValue=#{itemValue},
            </if>
            <if test="isDefault!=null">IsDefault=#{isDefault},
            </if>
            <if test="sortNum!=null">SortNum=#{sortNum},
            </if>
            <if test="modificationDate!=null">ModificationDate=#{modificationDate},
            </if>
            <if test="modifier!=null">Modifier=#{modifier},
            </if>
        </set>
        where Id=#{dictId};
    </update>

    <!--    <select id="selectByPrimaryKey" resultType="com.hxskyun.domain.Dict">-->
    <!--    select-->
    <!--    d.Id,-->
    <!--    d.ItemKey,-->
    <!--    d.ItemValue,-->
    <!--    t.`Name`,-->
    <!--    d.SortNum,-->
    <!--    d.IsDefault,-->
    <!--    d.CreationDate,-->
    <!--    d.Creator,-->
    <!--    d.ModificationDate,-->
    <!--    d.Modifier-->
    <!--    from   dictionarydetail as d-->
    <!--    left join dictionarytype as t on d.ItemKey=t.ItemKey-->
    <!--    where d.Id=#{dictId}-->
    <!--    </select>-->

    <select id="selectDetailByPrimaryKey" resultMap="DictMap">
        select Id,ItemKey,ItemValue,IsDefault,SortNum,CreationDate,Creator,ModificationDate,Modifier from dictionarydetail
        where Id=#{dictId};
    </select>

    <select id="selectTypeByPrimaryKey" resultMap="DictMap">
        select Id,TypeName,ItemKey,CreationDate,Creator,ModificationDate,Modifier from dictionarytype
        where Id=#{dictId};
    </select>
    <select id="selectAlltype" resultMap="DictMap">
        select * from dictionarytype
    </select>
    <select id="selectAlldetail" resultMap="DictMap">
        select * from dictionarydetail
    </select>


</mapper>