<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxskyun.mapper.RoleMapper">

    <resultMap id="RoleMap" type="com.hxskyun.domain.Role">
        <result column="RoleId" property="roleId"></result>
        <result column="RoleName" property="roleName"></result>
        <result column="RoleDescription" property="roleDescription"></result>
        <result column="CreationDate" property="creationdate"></result>
        <result column="Creator" property="creator"></result>
        <result column="ModificationDate" property="modificationdate"></result>
        <result column="Modificatier" property="modifier"></result>
    </resultMap>

    <resultMap id="UserRoleMap" type="com.hxskyun.domain.UserRole">
        <result column="RoleId" property="roleId"></result>
        <result column="UserId" property="userId"></result>
        <result column="CreationDate" property="creationdate"></result>
        <result column="Creator" property="creator"></result>
        <result column="ModificationDate" property="modificationdate"></result>
        <result column="Modificatier" property="modifier"></result>
    </resultMap>

    <delete id="deleteByPrimaryKey">
        delete from role where roleId=#{RoleId};
    </delete>
    <insert id="insert" parameterType="com.hxskyun.domain.Role" useGeneratedKeys="true" keyProperty="roleId">
         insert into role(Id,RoleId,RoleName,CreationDate,Creator,ModificationDate,Modificatier)
     values (DEFAULT,#{roleId},#{roleName},#{creationDate},#{creator},#{ModificationDate},#{Modificatier});
    </insert>

    <select id="selectRoleByPrimaryKey" resultMap="RoleMap">
        select  * from role where RoleId=#{roleId};
    </select>


    <update id="updateByPrimaryKey">
        update role
        SET RoleName = #{roleName}
        where RoleId = #{roleId}
    </update>

    <select id="selectAll" resultMap="RoleMap">
        select * from role;
    </select>

    <select id="selectByRoleName" resultMap="RoleMap">
        select * from role where RoleName=#{roleName};
    </select>


</mapper>