<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxskyun.mapper.UserRoleMapper">

    <resultMap id="RoleMap" type="com.hxskyun.domain.Role">
        <result column="RoleId" property="roleId"></result>
        <result column="RoleName" property="roleName"></result>
        <result column="RoleDescription" property="roleDescription"></result>
        <result column="CreationDate" property="creationdate"></result>
        <result column="Creator" property="creator"></result>
        <result column="ModificationDate" property="modificationdate"></result>
        <result column="Modificatier" property="modifier"></result>
    </resultMap>

    <resultMap id="UserRoleMap" type="com.hxskyun.domain.UserRole">
        <result column="RoleId" property="roleId"></result>
        <result column="UserId" property="userId"></result>
        <result column="CreationDate" property="creationdate"></result>
        <result column="Creator" property="creator"></result>
        <result column="ModificationDate" property="modificationdate"></result>
        <result column="Modificatier" property="modifier"></result>
    </resultMap>

    <update id="insertOrUpdate" parameterType="com.hxskyun.domain.UserRole">
    update userrole set
    RoleId=#{roleId}
    where UserId=#{userId}
    </update>

    <insert id="insert" useGeneratedKeys="true" parameterType="com.hxskyun.domain.UserRole">
        insert into userrole(Id,UserId,RoleId)
        values (DEFAULT,#{userId},#{roleId});
    </insert>


    <select id="selectUserroleByUserId" resultMap="UserRoleMap">
        select  * from userrole where UserId=#{id};
    </select>

    <select id="selectRoleIdByUserId" resultType="java.lang.Integer">
    select RoleId from userrole where UserId=#{id}
    </select>


</mapper>