<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxskyun.mapper.UserMapper">
    <resultMap type="com.hxskyun.domain.User" id="UserMap">
        <result property="userId" column="UserId"/>
        <result property="name" column="UserName"/>
        <result property="password" column="Password"/>
        <result property="sex" column="Gender"/>
        <result property="phone" column="Phone"/>
        <result property="email" column="Email"/>
        <result property="age" column="Age"/>
        <result property="birthDate" column="BirthDate"/>
        <result property="academy" column="Academy"/>
        <result property="major" column="Major"/>
    </resultMap>

    <select id="checkUser" resultMap="UserMap" parameterType="User">
        SELECT *
        FROM user
            WHERE UserName=#{userName} and Password=#{password}
    </select>

    <select id="getTeacherByPage" resultMap="UserMap" parameterType="PaperPage">
        SELECT u.UserId,UserName,PhoneNumber,Password,School,Academy,Major
        FROM user as u, user_role as ur
        <if test="userName == null">
            WHERE ur.RoleId=2 and u.UserId=ur.UserId
        </if>
        <if test="userName!=null">
            WHERE u.UserName like concat('%',#{userName},'%') and ur.RoleId=2 and u.UserId=ur.UserId
        </if>
        ORDER BY UserId ASC
        limit #{beginPage},#{pageSize}
    </select>

    <select id="getStudentByPage" resultMap="UserMap" parameterType="PaperPage">
        SELECT u.UserId,UserName,PhoneNumber,Password,School,Academy,Major
        FROM user as u, user_role as ur
        <if test="userName == null">
            WHERE ur.RoleId=3 and u.UserId=ur.UserId
        </if>
        <if test="userName!=null">
            WHERE u.UserName like concat('%',#{userName},'%') and ur.RoleId=3 and u.UserId=ur.UserId
        </if>
        ORDER BY UserId ASC
        limit #{beginPage},#{pageSize}
    </select>

    <select id="getTeacherCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM user as u, user_role as ur
        <if test="userName == null">
            WHERE ur.RoleId=2 and u.UserId=ur.UserId
        </if>
        <if test="userName!=null">
            WHERE UserName=#{userName} and  ur.RoleId=2 and u.UserId=ur.UserId
        </if>
    </select>

    <select id="getStudentCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM user as u, user_role as ur
        <if test="userName == null">
            WHERE ur.RoleId=3 and u.UserId=ur.UserId
        </if>
        <if test="userName!=null">
            WHERE UserName=#{userName} and  ur.RoleId=3 and u.UserId=ur.UserId
        </if>
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE user
        SET UserName = #{userName}, PhoneNumber = #{phoneNumber}, Password = #{password}, School = #{school}, Academy = #{academy}, Major = #{major}
        where UserId = #{userId}
    </update>

    <insert id="addUser" parameterType="User">
        INSERT INTO User(UserName,PhoneNumber,Password,School,Academy,Major) VALUE (#{userName}, #{phoneNumber}, #{password}, #{school}, #{academy},#{major})
    </insert>
</mapper>