<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/create-classes/sign-in-teacher"></ion-back-button>
    </ion-buttons>
    <ion-title>签到中</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center"><span>16</span>/<span>48</span></ion-title>
  </ion-toolbar>

  <ion-toolbar>
    
      <ion-button  fill='outline' size='large' shape='round' color="dark" class="ion-padding-start">
        <ion-label>放弃</ion-label>
      </ion-button>

      <ion-button  fill='outline' size='large' slot="end" shape='round' color="danger" class="ion-padding-end" >
        <ion-label>结束</ion-label>
      </ion-button>

    
      
  </ion-toolbar>
</ion-footer>
