<ion-header>
  <ion-toolbar>
    <ion-title>{{courseName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/create-classes" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <!-- 班课头信息 -->
    <ion-item lines='full'>
      <ion-note slot="end" class="ion-no-margin">
        <ion-button  expand="block" fill="clear" shape="round" [routerLink]="['/create-classes/class-detail/edit-class']"  [queryParams]="{courseId:courseId,course_name:courseName}">
          <ion-icon name="create-outline"  color="primary" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-note>
      <ion-thumbnail slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-thumbnail>
      <ion-label>
        <h3>{{courseMajor}}</h3>
        <h4>{{courseName}}</h4>
        <p>{{courseTeacherName}}</p>
        <p>
          <span>{{courseSemester}}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-list class="ion-padding">

    <!-- 内容部分 -->
    <ion-item>
      <ion-label  position="floating">学习要求</ion-label>
      <ion-text class="ion-padding-top" color="medium">
        <p>{{courseDes}}</p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">学校院系</ion-label>
      <ion-text class="ion-padding-top" color="medium">
        <p>
          {{courseSchool}}&nbsp;{{courseDepartment}}
        </p>
      </ion-text>
    </ion-item>

    <!-- 退出班课按钮 -->
    <ion-button slot="start" expand="block" fill='outline' shape='round' class="ion-margin-top" color="danger" (click)="doSubmit()" *ngIf="courseStatus!='已结课'">
      结束班课
    </ion-button>

  </ion-list>




</ion-content>