<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    1、输入邮箱或者手机号 > 2、根据短信重置密码
  </ion-toolbar>
</ion-header>

<ion-content non-padding>
<div padding-horizontal>
  <form #loginForm="ngForm">
    <ion-list padding-right no-margin>
      <ion-item margin-top class="full-width">
        <ion-label position="floating">邮箱/手机号</ion-label>
        <ion-input name="account" type="number" [(ngModel)]="account"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div padding-horizontal class="full-width">
    <ion-button expand="block" color="primary" (click)="onClick()" >提交</ion-button>
  </div>
</div>
</ion-content>
