<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text="返回" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #passwordForm novalidate>
    <ion-list>
      <!-- 旧密码 -->
      <ion-item>
        <ion-label position="stacked">输入旧密码</ion-label>
        <ion-input required [(ngModel)]="oldpassword" name="oldpass" #oldpass="ngModel"
                   pattern="[0-9a-zA-Z]{6,16}"></ion-input>
      </ion-item>
      <ion-text [hidden]="isOldPassword" padding-start color="danger">您输入的旧密码不正确</ion-text>
      <ion-text [hidden]="!oldpass.errors.pattern" padding-start color="danger" *ngIf="oldpass.invalid && oldpass.touched">
        密码格式为6至16位的数字字母
      </ion-text>
      <!-- 新密码 -->
      <ion-item>
        <ion-label position="stacked">请输入新密码</ion-label>
        <ion-input type="password" required [(ngModel)]="newPassword" name="newpass" #newpass="ngModel"
                   pattern="[0-9a-zA-Z]{6,16}"></ion-input>
      </ion-item>
      <ion-text [hidden]="!newpass.errors?.pattern" padding-start color="danger" *ngIf="newpass.invalid && newpass.touched">
        密码格式为6至16位的数字字母
      </ion-text>
      <!-- 再次新密码 -->
      <ion-item>
        <ion-label position="stacked">请再输入一次</ion-label>
        <ion-input type="password" required [(ngModel)]="checkPassword" name="checkpass" #checkpass="ngModel"></ion-input>
      </ion-item>
      <ion-text [hidden]="newPassword == checkPassword" padding-start color="danger">两次密码不一致</ion-text>
    </ion-list>
    <!-- 确定提交 -->
    <ion-button expand="block" [disabled]="passwordForm.invalid" (click)="onSave()">
      确定
    </ion-button>
  </form>
</ion-content>
