.Tint{
    color: #4c8dff;
}

.Tint-gray{
    color: #7a7575;
}

.profile_icon{
    background: #ffa300;
    color: white;
    font-size: 1.5em;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
}