.sign-in-img{
    width: 7em;
    margin: 0 auto;
}

.sign-in-avatar{
    display: block;
    margin: 0 auto;
    width: 5em;
    height: 5em;
    color: white;
    background-color: #3880ff;
    box-shadow: 2px 3px 5px #888888;

}

.sign-in-people{
    color: gray;
}