<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class='ion-text-center'>注册</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <form novalidate #information="ngForm" >
    <ion-list>
      <!--姓名-->
      <ion-item>
        <ion-input name="name" type="text" placeholder="输入姓名" required
                    [(ngModel)]="register.name" #name="ngModel">
        </ion-input>
      </ion-item>
      <ion-text text-left color="danger" *ngIf="name.invalid && name.touched">
        <p [hidden]="!name.errors?.required" padding-start>请输入姓名</p>
      </ion-text>
      <!-- 邮箱地址 -->
      <ion-item>
        <ion-input name="email" type="text" placeholder="输入邮箱地址" required
                    pattern="\w+@([0-9a-zA-Z]+[-0-9a-zA-Z]*)(\.[0-9a-zA-Z]+[-0-9a-zA-Z]*)+"
                    [(ngModel)]="register.email" #email="ngModel">
        </ion-input>
      </ion-item>
      <ion-text text-left color="danger" *ngIf="email.invalid && email.touched">
        <p [hidden]="!email.errors?.required" padding-start>请输入邮箱地址</p>
        <p [hidden]="!email.errors?.pattern" padding-start>邮箱地址格式错误</p>
      </ion-text>
      <!-- 手机号 -->
      <ion-item>
        <ion-input name="phone" type="number" placeholder="输入手机号码" required
               pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$"
               [(ngModel)]="register.phone" #phone="ngModel">
        </ion-input>
    </ion-item>
    <ion-text text-left color="danger" *ngIf="phone.invalid && phone.touched">
        <p [hidden]="!phone.errors?.required" padding-start>请输入手机号码</p>
        <p [hidden]="!phone.errors?.pattern" padding-start>您输入的手机号格式不正确</p>
    </ion-text>
      <!-- 登录密码 -->
      <ion-item>
        <ion-input type="password" placeholder="请输入登录密码 "required [(ngModel)]="register.password" name="newpass" #newpass="ngModel"
                   pattern="[0-9a-zA-Z]{6,16}"></ion-input>
      </ion-item>
      <ion-text [hidden]="!newpass.errors?.pattern" padding-start color="danger" *ngIf="newpass.invalid && newpass.touched">
        密码格式为6至16位的数字字母
      </ion-text>
      <!-- 再次新密码 -->
      <ion-item>
        <ion-input type="password" placeholder="请输入确认密码" required [(ngModel)]="register.confirmPassword" name="checkpass" #checkpass="ngModel"></ion-input>
      </ion-item>
      <ion-text [hidden]="register.password== register.confirmPassword" padding-start color="danger">两次密码不一致</ion-text>
      <!-- <ion-item>
        <ion-input name="password" type="password" placeholder="请输入登录密码" required pattern="^(?=.{6,16})[0-9A-Za-z]*[^0-9A-Za-z][0-9A-Za-z]*$" [(ngModel)]="register.password" #password="ngModel"></ion-input>
      </ion-item>
        <ion-item *ngIf="password.invalid && password.touched">
        <p [hidden]="!password.errors?.required">请输入登录密码</p>
        <p [hidden]="!password.errors?.pattern">密码长度6至16位，且包含数字、英文、符号</p>
      </ion-item>
      <ion-item>
      <ion-input name="confirmPassword" type="password" placeholder="请输入确认密码" required [(ngModel)]="register.confirmPassword" #confirmPassword="ngModel"></ion-input>
      </ion-item>
        <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched">
        <p [hidden]="!confirmPassword.errors?.required">请输入确认密码</p>
        <p [hidden]="password===confirmPassword">两次输入的密码不一致</p>
        </ion-item> -->
    </ion-list> 

    <!-- 确定注册-->
    <div padding-horizontal>
      <ion-button expand="full" color="primary" [disabled]="information.invalid"
        (click)="onRegister()" >
        确定注册
      </ion-button>
    </div>

  </form>

</ion-content>

