<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-back-button text="返回" color="primary"  defaultHref="/tabs/mine" ></ion-back-button>
    </ion-buttons>
    <ion-title text-center>关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   <ion-card-header>工程实训</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-text>
            到云签到app
          </ion-text>
        </ion-item>
      </ion-list>
      
    

    </ion-card-content>
  </ion-card>
</ion-content>
