<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <!-- <ion-back-button defaultHref="/tabs/create-classes" ></ion-back-button> -->
    </ion-buttons>
    <ion-title>班课二维码信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="wrap">
    <ion-qrcode [data]="courseid" [size]="180" [level]="'H'" [logo]="'assets/logo.png'"  [foreground]="'black'"></ion-qrcode>
  </div>

</ion-content>
